<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="changepassword_style.css">
    <link rel="icon" type="x-icon" href="https://scif.iitdh.ac.in/wp-content/uploads/2021/02/LOGO.png">
</head>

<body>
    <div class="main">
        <div class="logo"><img src="../public/images/logo.svg" alt=""></div>
        <!-- <div class="com"><img src="two.png" alt=""></div> -->
        <div class="loginbox">
            <div class="flex">
                <div class="l1">Change password</div>

                <div class="inputs">

                    <form action="/changep" method="post">
                        <input type="password" name="oldpassword" placeholder="Enter old password" id="oldpassword">
                        <input type="password" name="newpassword" id="newpassword" placeholder="Enter new password">
                        <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm password">
                        <button type="submit" name="submit" class="submit">Save changes</button>
                        <!-- <p>Already have an account?<a href="/signup">Log in</a></p> -->
                    </form>
                </div>
                <div class="continue">
                </div>
            </div>
        </div>
    </div>
</body>

</html>