<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Editprofile_style.css">
    <link rel="icon" type="x-icon" href="https://scif.iitdh.ac.in/wp-content/uploads/2021/02/LOGO.png">
</head>

<body>
    <div class="main">
        <div class="logo"><img src="../public/images/logo.svg" alt=""></div>
        <!-- <div class="com"><img src="two.png" alt=""></div> -->
        <div class="loginbox">
            <div class="flex">
                <div class="l1">Edit profile</div>

                <div class="inputs">

                    <form action="/edit" method="post">
                        <input type="text" name="name" placeholder="Username/Roll no." id="name">
                        <input type="number" name="phonenumber" id="tel" placeholder="Mobile no">
                        <input type="date" name="dob" id="dob" placeholder="Date of Birth">
                        <button type="submit" name="submit" class="submit">Save changes</button>
                        <!-- <p>Already have an account?<a href="/signup">Log in</a></p> -->
                    </form>
                </div>
                <div class="continue">
                </div>
            </div>
        </div>
    </div>
</body>

</html>