<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIT DHARWAD LIBRARY MANAGEMENT SYSTEM</title>
    <link href="openingpage_style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="homepage">
        <div class="logo">
            <img src="https://www.iitdh.ac.in/sites/default/files/2024-01/logo_black_final.png" alt="">
        </div>
        <div class="content">
            <div class="l1">Welcome to IIT Dharwad Central
                Library</div>
            <div class="l2">
                Explore, Discover and Read your favorite books.</div>
            <div class="l3">The collection consists of nearly 4750+ books in various disciplines. These are arranged
                subject wise. It has also acquired a few ISO standards (International Standards Organization) in digital
                form. At present, the main motto is to build up the Library collection such that it has information
                resources up to Ph.D. level, including advanced texts and reference materials. Here's where you can
                access a full-stack web application enabling navigation of the library's inventory, accessing it via the
                institute email ID</div>
        </div>
        <div class="button">
            <button class="btn">
                <div class="text-container">
                    <span class="text">Log in</span>
                    <span class="text">Log in</span>
                </div>
            </button>
        </div>


    </div>
    <script>
        document.querySelector("button").addEventListener("click", () => {
            window.location = "/login"
        })
    </script>
</body>

</html>
