<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="loginpage_style.css">
</head>

<body>
    <div class="main">
        <div class="logo"><img src="logo.svg" alt=""></div>
        <div class="com"><img src="two.png" alt=""></div>
        <div class="loginbox">
            <div class="flex">
            <div class="l1">Welcome Back</div>
            
            <div class="inputs">

                <form action="/signuppage" method="post">
                    <input type="text" name="name" placeholder="Username/Roll no." id="name">
                    <input type="text" name="password" placeholder="Password" id="password">
                    <input type="text" name="email" placeholder="email" id="email">
                    <input type="text" name="phonenumber" placeholder="phonenumber" id="phonenumber">
                    <button type="submit" name="submit" class="submit">Log in</button>
                  </form>
            </div>
            <div class="continue">
        
            <!-- <div class="img">
                <img src="https://th.bing.com/th/id/OIP.L7DQs2i9bNGWk9vrRKuseQHaE8?rs=1&pid=ImgDetMain" alt="">
            </div> -->
        </div>
        </div>
        </div>
    </div>
</body>

</html>